* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 40px;
}

#nav_links {
  display: flex;
  flex-direction: row-reverse;
}

li {
  list-style: none;
  margin: 10px;
}

a {
  text-decoration: none;
}

#img_code {
  width: 400px;
  height: 200px;
}

#text_form > h1,
#text_form > p {
  text-align: center;
  margin: 0 auto;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
  margin: 0 auto;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#u_websites {
  margin-top: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#u_websites li a {
  font-size: 30px;
}

.container {
  display: flex;
  width: 1200px;
  height: 600px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  width: 380px;
  height: 400px;
  margin: 10px;
}
